.loadingBg {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #424156;
    margin: 0;
    padding: 0;
    text-align: center;
}
.loadingBg:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.loadingIco {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.ico_animation_base {
    opacity: 0;
    animation:loading_ani 2.60s linear  infinite;
}

.ico-1{
    animation-delay: 0.5s;
}

.ico-2{
    animation-delay: 0.74s;
}
.ico-3{
    animation-delay: 0.98s;
}
.ico-4{

    animation-delay: 1.22s;
}
.ico-5{
    animation-delay: 1.46s;
}
.ico-6{
    animation-delay: 1.7s;
}

/* 转圈 */
@keyframes loading_ani{
    0% , 35.5%, 100%{
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
}

