html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face
{
    font-family: pingfang;
    src: url('../font/PingFang1.ttf');
    font-weight: normal;
}

html {
    font: 14px/1.5 "Cambria Math",pingfang, "宋体", "sans-serif";
    word-break: break-all;
    color: #545454;
    overflow: hidden;
    height:100%;
    background-color: #000;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    border: 0;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #545454;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
sup{
    position: absolute;
    margin-top:-10px;
    margin-left:3px;
    font-size: 20px;
}
.sup{
    margin-left:26px;
}

/****** 基本样式开始 ******/
body{
    height:100%;
    background:linear-gradient(#759be8 28%, #134a90 100%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.body{
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    height:100%;
    background-image:linear-gradient(#759be8 28%, #134a90 100%);
    margin-top:-50%;
}
#renew,#close{
    position: absolute;
    width:43px;
    height:40px;
    z-index:3;
}
#close{
    display: none;/*remove close btn */
	right:50px;
    top:48px;
}
#renew{
    display: block;
    right:50px;/*no close btn */
    top:48px;
}

.container{
    position: absolute;
    top:69px;
    bottom:69px;
}
#threeContainer{
    left:33px;
    right:686px;
    background-color: #fff;
    box-shadow:6px 6px 20px 0 rgba(0,0,0,0.30);
    border-radius:10px;
    overflow: hidden;
}
#controlContainer{
    width:612px;
    right:39px;
    display: block;
}
.logo{
    width:92px;
    height:92px;
    position: absolute;
    left:34px;
    top:33px;
    z-index:2;
}
.threeControl{
    z-index:2;
    position: absolute;
    right:30px;
    bottom:30px;
    width:57px;
}
.threeControl a{
    display: block;
    width:57px;
    height:57px;
}
#grid,#axis{
    margin-bottom:39px;
}
#scale{
    width:40px;
}
h2{
    font-size:48px;
    color:#ffffff;
    width:612px;
    text-align: center;
    height:75px;
    margin-top:54px;
    font-weight: normal;
}
/****** 基本样式结束 ******/




/****** 控件样式开始 ******/
/*
 on/off按钮    滑动条     单选按钮    dynamic    下拉框    formula
 (空间充足时 slider 内多个控件之间距离50px)
*/



/*** 滑动条 ***/
.slider{
    width:612px;
    height:258px;   /* 根据需要调整 */
    background:rgba(0,0,0,0.30);
    border-radius:10px;
    margin-top:50px;
    padding-top:40px;
}
.slider1{
    margin:20px 0 50px 0;
    position: relative;
    padding-top:20px;
    height:40px;
}
.slider2{
    margin-top: 20px;
    position: relative;
    padding-top:20px;
    height:50px;
}
.slider3{
    position: relative;
    padding-top:20px;
    height:40px;
}
.sliderDiv .sliderTitle{
    width:120px;
    height:45px;
    float: left;
    margin-left:11px;
    margin-right:11px;
    font-size:30px;
    color:#ffffff;
    word-spacing:6px;
    text-align:center;
    line-height: 45px;
}
.sliderTitle img{
    width: 20%;
    height: auto;
    margin-top:13px;
}
.sliderTitle .img1{
    width: 28%;
    height: auto;
    margin-top:0;
}
.sliderDiv .sliderContainer{
    width:410px;
    height:33px;
    float: right;
    margin-right:60px;
    margin-top:15px;
}
.slider h3{
    position: relative;
    top:-10px;
    font-family: 'pingfang', Arial, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.img-top{
    height: 35px;
    width: auto;
    position: relative;
    top: -10px;
}
.img-top2{
    width: 22%;
    height: auto;
    margin-left: 39%;
    position: relative;
    top: -10px;
}
.slider .fangchen{
    font-family:CambriaMath;
    font-size:30px ;
    font-weight: normal;
}

/*** dynamic ***/
.dynamic{
    width:228px;
    height:65px;
    background:rgba(0,0,0,0.44);
    border:2px solid #50a1f5;
    border-radius:10px;
    margin:58px auto 0 auto;
    color:#fff;
    font-size:32px;
    text-align:center;
    line-height:65px;
    cursor:pointer;
}
.dynamic:hover{
    background:rgba(0,0,0,0.6);
}

/****** 控件样式结束 ******/




/****** range2dslider 样式修改 开始 ******/
.xdsoft_custom .xdsoft_range2dslider_runner{
    border-radius:1px;
    margin:0 0 -4px -8px !important;
    background:rgba(0,0,127,0.5);
    border:1px outset #ddd;
}
.xdsoft_custom .xdsoft_range2dslider_box{
    min-height:12px;
    background:rgba(127,127,127,0.5);
    border-radius:1px;
    border-style:solid;
}
.xdsoft_custom .xdsoft_slider_label{
    background: red;
    color: #fff;
    bottom: 22px !important;
}
.xdsoft_custom .xdsoft_slider_label.xdsoft_slider_label_top:after{
    border-top-color:red;
}
.xdsoft_legend{
    display: none;
}


.xdsoft_range2dslider_box{ /* 滑动条高度 */
    min-height:15px !important;
    border-radius:18px !important;
}
.sliderLeft{ /* 滑动条进度高度 */
    position: absolute;
    left:-1px;
    border-radius: 15px 0 0 15px  !important;
    height:15px !important;
    background-color:#1474d9;
    right:56%;
    z-index:2;
}
.xdsoft_horizontal .xdsoft_range2dslider_box.xdsoft_range2dslider_box_bottom .xdsoft_range2dslider_runner{ /* 拖动点上下位置 */
    margin-bottom:-9px !important;
}
.xdsoft_range2dslider_runner{ /* 拖动点大小 */
    width:32px !important;
    height:32px !important;
}

span.xdsoft_slider_label.xdsoft_slider_label_top{ /* label高度 */
    bottom: 30px !important;
    left: 50%;
    margin-left: -45px !important;
    text-align:center;
}
.slider1 span.xdsoft_slider_label.xdsoft_slider_label_top{  /* 根据需要调整 */
    /*margin-left: -30px !important;*/
}

span.xdsoft_slider_label{ /* label字体 */
    font-family:CambriaMath !important;
    font-size:30px !important;
    min-width:90px !important;
}
.xdsoft_legend{ /* 范围字体大小 */
    font-family:CambriaMath !important;
    font-size:20px !important;
}

/* 去除滑动条2上数字*/
.slider1 span.xdsoft_slider_label.xdsoft_slider_label_top{
    display: none;
}
/****** range2dslider 样式修改 结束 ******/



/****** 预览模式 ******/
@media (width: 370px) and (height:246px){
    .body{
        display: none;
    }
    .gongshi2{
        display: none;
    }
    .container{
        top:0;
        bottom:0;
    }
    #threeContainer{
        left:0;
        right:0;
        border-radius: 0;
    }
    .threeControl{
        display: none;
    }
    #controlContainer{
        display: none;
    }
    #renew,#close{
        display: none;
    }
    .logo{
        width:50px;
        height:50px;
    }
}