  html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font:14px/1.5  "Cambria Math",pingfang, "宋体", "sans-serif";
    word-break: break-all;
    color: #000000;
    overflow: hidden;
    height:100%;
    background-color: #fff;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    border: 0;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #000000;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
span{
    cursor: pointer;
}
/****** 基本样式开始 ******/
body{
    height:100%;
    background: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app{
    width:100%;
    height:100%;
    background-color:#fff;
    min-width: 580px;
    overflow: hidden;
}
#app>div{
    position: relative;
    height: 100%;
    float: left;
}
#main_left{
    background-color: #fff;
    width: 100%;
}
#main_left #show{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#main_left h2{
    padding: 20px;
    position: absolute;
    z-index: 999;
}
#main_right{
    width: 280px;
    background:#f8f8f8;
    box-shadow:0 0 0 0 rgba(0,0,0,0.12);
    position: relative;
    z-index: 999;
}
#ctrl{
    width: 100%;
    height: 175px;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}
#reset{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#reset img{
    width: 49px;
    height: 41px;
}
#step{
    position: absolute;
    width: 240px;
    height: 100px;
    right: 0;
    left: 0;
    margin: auto;
}
#step>div,#check{
    background:#fff;
    border:0 solid rgba(0,0,0,0.06);
    box-shadow:0 1px 3px 0 rgba(0,0,0,0.08);
    border-radius:6px;
    width:100%;
    height: 45px;
    font-size: 14px;
    line-height: 48px;
    position: relative;
    cursor:pointer;
}
#step>div#step1{
    margin-bottom: 10px;
}
#step>div span{
    display: inline-block;
    background: #f0f0f0;
    border-radius: 50%;
}
#step>div>div{
    display: inline-block;
    padding-left: 40px;
}
#step>div>span{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 12px;
    top: 11px;
}
#step>div>span>span{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 7px;
    top: 7px;
}
#addC{
    width: 240px;
    height: 140px;
}
#check{
    width: 240px;
    text-indent: 1em;
    margin: auto;
    margin-bottom: 25px;
    cursor:pointer;
}
#check>span{
    width: 40px;
    height: 24px;
    background: #F0F0F0;
    border-radius: 13px;
    position: absolute;
    right: 12px;
    top: 11px;
}
#check>span>span{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.06);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
    position: absolute;
    top:2px;
    left:2px;
}
@media(max-width: 720px) {
    #title{
        font-size: 22px;
    }
}
@media(max-width: 655px) {
    #title{
        font-size: 20px;
    }
}