html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face
{
    font-family: pingfang;
    src: url('../font/PingFang1.ttf');
    font-weight: normal;
}

html {
    font: 14px/1.5 "Cambria Math",pingfang, "宋体", "sans-serif";
    word-break: break-all;
    color: #545454;
    overflow: hidden;
    height:100%;
    background-color: #000;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    border: 0;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #545454;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
sup{
    position: absolute;
    margin-top:-10px;
    margin-left:3px;
}
.sup{
    margin-left:26px;
}

/*以上为reset样式*/
body{
    height:100%;
    background-image:linear-gradient(#759be8 28%, #134a90 100%);
    position: relative;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.body{
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    height:100%;
    background-image:linear-gradient(#759be8 28%, #134a90 100%);
    margin-top:-50%;
}
#renew,#close{
    position: absolute;
    width:43px;
    height:40px;
    z-index:3;
}
#close{
    display: none;/*remove close btn */
	right:50px;
    top:48px;
}
#renew{
    display: block;
    right:50px;/*no close btn */
    top:48px;
}

.container{
    position: absolute;
    top:69px;
    bottom:69px;
}
#threeContainer{
    left:33px;
    right:686px;
    background-color: #fff;
    box-shadow:6px 6px 20px 0 rgba(0,0,0,0.30);
    border-radius:10px;
    overflow: hidden;
    z-index:10;
}
#controlContainer{
    width:612px;
    right:39px;
    display: block;
}
.chooseFunction{
    padding:0 17px;
    height:72px;
    z-index:2;
    position: relative;
}
.chooseFunction .selectTitle{
    font-family: pingfang, Arial, sans-serif;
    height:72px;
    line-height: 72px;
    font-size:30px;
    color:#ffffff;
    letter-spacing:0;
}
.chooseFunction .selectChoose{
    font-family: CambriaMath, Arial, sans-serif;
    float: right;
    width: 392px;
    height:82px;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    background-color: rgba(0,0,0,0.20);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.chooseFunction .selectChoose.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chooseFunction .selectChoose.open .optionContainer{
    display: block;
}
.chooseFunction .selectChoose .optionContainer{
    display: none;
}
.optionContainer{
    width:392px;
    position: absolute;
    border-radius:0 0 10px 10px;
    height: 255px;
}
.optionChoose{
    height:82px;
    line-height: 82px;
}
.option{
    height:72px;
    line-height: 72px;
}
.option p{
    height:72px;
    line-height:72px;
}
.margin{
    margin-top:24px;
}
.optionBlur{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: -1;
}
.selectChoose p{
    margin-left:60px;
}
.optionChoose p{
    height:72px;
    line-height:72px;
}
.selectChoose p .img1{
    max-height: 38px;
    margin-top:21px;
    width:auto;
}
.selectChoose p .img2{
    max-height: 72px;
    width:auto;
}
.optionContainer .choose{
    display: none;
}
.open .arrow{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
}
.arrow{
    position: absolute;
    right: 15px;
    top: 28px;
    width: 26px;
    height: 22px;
    transition: all 0.3s;
}
.logo{
    width:92px;
    height:92px;
    position: absolute;
    left:34px;
    top:33px;
    z-index:2;
}
.threeControl{
    z-index:2;
    position: absolute;
    right:30px;
    bottom:50px;
    width:57px;
}
.threeControl a{
    display: block;
    width:57px;
    height:57px;
}
#grid,#axis{
    margin-bottom:39px;
}
h2{
    font-family:pingfang;
    font-size:48px;
    color:#ffffff;
    width:612px;
    text-align: center;
    height:75px;
    margin-top:54px;
    font-weight: normal;
}
.slider{
    width:613px;
    height:158px;
    background:rgba(0,0,0,0.30);
    border-radius:10px;
    margin-top:46px;
    z-index: 1;
    position: relative;
}
.turnDiv{
    width:612px;
    height:56px;
    position: relative;
}
.turn1{
    margin:53px 0;
}
.turn2{
    margin-bottom:53px;
}
.turnLeft{
    font-family:pingfang;
    font-size:30px;
    color:#ffffff;
    height:56px;
    line-height:56px;
    margin-left:26px;
    float: left;
}
.turnRight{
    border-radius:100px;
    width:155px;
    height:56px;
    float: right;
    margin-right:0;
    position: relative;
    cursor: pointer;
}
.off .turnRight,.on .turnRight{
    background:rgba(0,0,0,0.40);
}
.off .turnRight .span1,.on .turnRight .span1{
    position: absolute;
    width:39px;
    height:41px;
    border-radius:100%;
    background:rgba(0,0,0,0.35);
    left:17px;
    top:8px;
    right:auto;
    transition: background-color 0.8s;
}
.off .turnRight .span2,.on .turnRight .span2{
    font-family:pingfang,Arial,sans-serif;
    font-size:36px;
    color:rgba(0,0,0,0.35);
    width:68px;
    text-align: center;
    height:56px;
    line-height:56px;
    /*font-weight: bold;*/
    position: absolute;
    right:17px;
    left:auto;
}
.on .turnRight .span1{
    left:98px;
    background-color:#50a1f5;
    transition: background-color 0.8s;
}
.on .turnRight .span2{
    float: left;
    color:#50a1f5;
    left:17px;
}
.turnShade{
    position: absolute;
    top:55px;
    width:612px;
    text-align: center;
    display: none;
    height:68px;
    line-height: 68px;
    font-size:38px;
    color: #fff;
    font-family: CambriaMath, Arial, sans-serif;
}
.turnShade p{
    height:68px;
    line-height: 68px;
}
.turnShade img{
    width:auto;
    max-height: 40px;
}
.on .turnShade{
    display: block;
}
.off .turnShade{
    display: none;
}
.slider1{
    position: relative;
    padding-top:42px;
    height:35px;
    visibility: hidden;
}
.xdsoft_slider_label{
    display: none;
}
.sliderDiv .sliderTitle{
    width:90px;
    height:45px;
    float: left;
    margin-left:26px;
    margin-right:26px;
    font-family:Calibri;
    font-size:30px;
    color:#ffffff;
    word-spacing:6px;
    text-align: center;
}
.sliderDiv .sliderContainer{
    width:410px;
    height:33px;
    float: right;
    margin-right:60px;
    margin-top:15px;
}
.slider2{
    margin-top:58px;
}

.xdsoft_custom .xdsoft_range2dslider_runner{
    border-radius:1px;
    margin:0 0 -4px -8px !important;
    background:rgba(0,0,127,0.5);
    border:1px outset #ddd;
}
.xdsoft_custom .xdsoft_range2dslider_box{
    min-height:12px;
    background:rgba(127,127,127,0.5);
    border-radius:1px;
    border-style:solid;
}
.xdsoft_custom .xdsoft_slider_label{
    background: red;
    color: #fff;
    bottom: 22px !important;
}
.xdsoft_custom .xdsoft_slider_label.xdsoft_slider_label_top:after{
    border-top-color:red;
}
.xdsoft_legend{
    display: none;
}
.radioChoose{
    padding:23px 0 23px 0;
}
.radios{
    display: inline-block;
    width:250px;
    height:45px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
}
.radios3,.radios4{
    margin-top:23px;
}
.radiocircle{
    position: relative;
    transition: all 0.5s;
}
.radiocirclenei{
    position: absolute;
    width:20px;
    height:20px;
    margin-left:14px;
    margin-top:12px;
    background-color: #d3d4d1;
    border-radius: 100%;
    transition: all 0.5s;
}
.radios1,.radios3{
    margin-left:60px;
}
.radios2,.radios4{
    margin-left:24px;
}
.title{
    display: inline-block;
    vertical-align: top;
    height: 45px;
    line-height: 45px;
    margin-left: 20px;
    font-family: pingfang, Arial, sans-serif;
    font-size: 32px;
    color: #fff;
    width: 155px;
}
.radiocircle{
    display: inline-block;
    width:47px;
    height:45px;
    background-color: #d3d4d1;
    border-radius: 100%;
}
.radiocircle.select{
    background-color: #50a1f5;
}
.radiocircle.select .radiocirclenei{
    background-color: #fff;
}


.xdsoft_horizontal .xdsoft_range2dslider_box{ /* 滑动条高度 */
    min-height:15px !important;
    border-radius:18px !important;
}
.sliderLeft{ /* 滑动条进度高度 */
    position: absolute;
    left:-1px;
    border-radius: 15px 0 0 15px  !important;
    height:15px !important;
    background-color:#1474d9;
    right:56%;
    z-index:2;
}
.xdsoft_horizontal .xdsoft_range2dslider_box.xdsoft_range2dslider_box_bottom .xdsoft_range2dslider_runner{ /* 拖动点上下位置 */
    margin-bottom:-9px !important;
}
.xdsoft_range2dslider_runner{ /* 拖动点大小 */
    width:32px !important;
    height:32px !important;
}
span.xdsoft_slider_label.xdsoft_slider_label_top{ /* label高度 */
    bottom: 30px !important;
    left: 50%;
    margin-left: -25px !important;
}
span.xdsoft_slider_label{ /* label字体 */
    font-family:CambriaMath !important;
    font-size:30px !important;
}
.xdsoft_legend{ /* 范围字体大小 */
    font-family:CambriaMath !important;
    font-size:20px !important;
}

@media (width: 370px) and (height:246px){
    .container{
        top:0;
        bottom:0;
    }
    #threeContainer{
        left:0;
        right:0;
        border-radius: 0;
    }
    .threeControl{
        display: none;
    }
    #controlContainer{
        display: none;
    }
    #renew,#close{
        display: none;
    }
}