.centerDiv{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.stage{
    width: 1024px;
    height: 576px;
    /*border: 1px red solid;*/
    /*transform: scale(1.875);*/
}

.threeModelImage {
    width: 900px;
    height: 300px;
    /*border: 1px red solid;*/
}

.modelImage1 {
    width: 300px;
    position: absolute;
    left: 0;
}

.modelImage2 {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

.modelImage3 {
    width: 300px;
    position: absolute;
    right: 0;
}

img {
    width: 100%;
}

.modelStage{
    width: 100%;
    height: 100%;
}

.threeSmallModel {
    width: 140px;
    height: 420px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;
    /*border: 1px black solid;*/
}

.smallModel {
    width: 140px;
    height: 140px;
}

.bigModel {
    width: 610px;
    height: 576px;
    /*border: 1px black solid;*/
}

.bigModelImage {
    width: 100%;
    height: 100%;
    position: absolute;
}

.threeButton{
    width: 104px;
    height: 158px;
    /*border: 1px black solid;*/
    position: absolute;
    z-index: 2;
    bottom: 60px;
    right: 30px;
}

.rotateImage1 {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 115px;
    bottom: 235px;
    z-index: 99;
}

.rotateImage2 {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 165px;
    top: 75px;
    z-index: 99;
}

.keyFrameAnimation{
    width: 610px;
    height: 576px;
    position: absolute;
    margin-left: -35px;
    /*margin-top: -2.3px;*/
}

.mouseStylePointer {
    cursor: pointer;
}
