html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.titleText {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 476px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    z-index: 5;
    color: #000000;
}

.right_buttons {
    position: absolute;
    top: 40%;
    right: 8%;
    font-size: 24px;
    color: #FFFFFF;
    background:rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.10);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    backdrop-filter: saturate(180%) blur(7px);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.buttonContainer {
    display: flex;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 27px;
    margin-right: 24px;
}

.buttonContainer_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 14px;
    margin-left: 25px;
    display: none;
}

.buttonContainer_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.result_Class {
    width: 147px;
    height: 43px;
    background: #EBEBEB;
    color: #000000;
    border-radius: 6px;
    margin-top: 8px;
    text-align: center;
    line-height: 43px;
    font-size: 16px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.result_Class2 {
    width: 72px;
    height: 43px;
    background: #EBEBEB;
    color: #000000;
    margin-top: 8px;
    border-radius: 6px;
    text-align: center;
    line-height: 43px;
    font-size: 16px;
    font-family: 'Times New Roman';
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.buttonContainer2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 27px;
}

.random_point_value {
    height: 43px;
    color: #000000;
    text-align: center;
    line-height: 43px;
    font-size: 16px;
    display: none;
}

.random_point_button {
    width: 112px;
    height: 43px;
    background: #EBEBEB;
    color: #000000;
    margin-left: 14px;
    border-radius: 6px;
    text-align: center;
    line-height: 43px;
    font-size: 16px;
    font-family: 'Times New Roman';
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.random_point_button:active {
    background: #179DF5;
    color: #FFFFFF;
}

.resetBtn_div {
    position: absolute;
    top: 36px;
    right: 36px;
    width: 25px;
    height: 24px;
    cursor: pointer;
}

.resetBtn_div img {
    width: 100%;
    height: 100%;
}

.advice_div_tip {
    position: absolute;
    top: 16px;
    width: 416px;
    height: 48px;
    background: rgba(250, 250, 250, 0.92);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: 100px;
    font-size: 16px;
    color: #525252;
    text-align: center;
    line-height: 48px;
    left: calc(50% - 208px);
    transition: opacity 0.3s;
    opacity: 1;
    z-index: 10;
}

.mask_div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    z-index: 12;
}

.orientation_div_tip {
    position: absolute;
    top: calc(50% - 99px);
    left: calc(50% - 130px);
    width: 260px;
    height: 198px;
    background: rgba(250, 250, 250, 0.92);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: 12px;
    z-index: 12;
}


.ui-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.ui-flex, .ui-flex *, .ui-flex :after, .ui-flex :before {
    box-sizing: border-box
}

.ui-flex.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ui-flex.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.formulaContainer {
    height: 52px;
    width: 70px;
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    color: #000000;
    justify-content:  space-between;
    align-items: center;
    font-size: 22px;
}

.dcg-pt-value {
    color: #000000;
}

.loadingBg {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #424156;
    margin: 0;
    padding: 0;
    text-align: center;

}
.loadingBg:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.loadingIco {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.ico_animation_base {
    opacity: 0;
    animation:loading_ani 2.60s linear  infinite;
}

.ico-1{
    animation-delay: 0.5s;
}

.ico-2{
    animation-delay: 0.74s;
}
.ico-3{
    animation-delay: 0.98s;
}
.ico-4{

    animation-delay: 1.22s;
}
.ico-5{
    animation-delay: 1.46s;
}
.ico-6{
    animation-delay: 1.7s;
}

/* 转圈 */
@keyframes loading_ani{
    0% , 35.5%, 100%{
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
}

@media screen and (min-width: 1320px) {
    .titleText {
        transform-origin: left top;
        transform: scale(1);
    }

    .right_buttons {
        transform-origin: right top;
        transform: scale(1);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1320px) {
    .titleText {
        transform-origin: left top;
        transform: scale(0.8);
    }

    .right_buttons {
        transform-origin: right top;
        transform: scale(0.8);
    }
}

@media screen and (min-width: 875px) and (max-width: 1200px) {
    .titleText {
        transform-origin: left top;
        transform: scale(0.7);
    }

    .right_buttons {
        transform-origin: right top;
        transform: scale(0.7);
    }
}

@media screen and (min-width: 740px) and (max-width: 875px) {
    .titleText {
        transform-origin: left top;
        transform: scale(0.6);
    }

    .right_buttons {
        transform-origin: right top;
        transform: scale(0.6);
    }
}

@media screen and (max-width: 740px) {
    .titleText {
        transform-origin: left top;
        transform: scale(0.5);
    }

    .right_buttons {
        transform-origin: right top;
        transform: scale(0.5);
    }
}