<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="js/font.js"></script>
    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.range2dslider.css" />
</head>
<body onselectstart="return false;">
    <div class="body">
        <a href="javascript:void(0);" id="renew">
            <img src="images/icon/renew.png" />
        </a>
        <a href="javascript:void(0);" id="close">
            <img src="images/icon/close.png" />
        </a>

        <div id="controlContainer" class="container">
            <h2>模板</h2>
            <div class="con">

                <!-- on/off -->
                <div class="turn">
                    <div class="turn1 off" >
                        <div class="turnDiv">
                            <div class="turnLeft">
                                <img src="images/1.png" style="width:250px;"/>
                            </div>
                            <div class="turnRight" id="div1">
                                <span class="span1"></span>
                                <span class="span2">off</span>
                            </div>
                        </div>
                        <div class="turnShade">
                            <img src="images/2.png" style="width:300px;"/>
                        </div>
                    </div>
                    <div class="turn2 off" >
                        <div class="turnDiv">
                            <div class="turnLeft">
                                <img src="images/1.png" style="width:250px;"/>
                            </div>
                            <div class="turnRight" id="div2">
                                <span class="span1"></span>
                                <span class="span2">off</span>
                            </div>
                        </div>
                        <div class="turnShade">
                            <img src="images/2.png" style="width:300px;"/>
                        </div>
                    </div>
                </div>

                <!-- slider -->
                <div class="slider">
                    <div class="slider1 sliderDiv">
                        <div class="sliderTitle">
                            <img src="images/af.png" style="width:30px;" />
                        </div>
                        <div class="sliderContainer">
                            <input id="slider1">
                        </div>
                    </div>
                </div>

                <!-- radio -->
                <div class="radio">
                    <div class="radioChoose">
                        <div class="radios radios1" data-id="1">
                            <span class="radiocircle select"><!--select-->
                                <span class="radiocirclenei"></span>
                            </span>
                            <span class="radiotitle">弧度制</span>
                        </div>
                        <div class="radios radios2" data-id="2">
                            <span class="radiocircle">
                                <span class="radiocirclenei"></span>
                            </span>
                            <span class="radiotitle">角度制</span>
                        </div>
                    </div>
                </div>

                <!-- click -->
                <div class="dynamic">动态绘制</div>

                <!-- select -->
                <div class="chooseFunction">
                    <span class="selectTitle">选择函数</span>
                    <div class="selectChoose">
                        <span class="arrow"><img src="images/icon/selectArrow.png" /></span>
                        <div class="optionChoose"><p><img src="images/i1.png" class="img1" /></p></div>
                        <div class="optionContainer">
                            <!--<div class="optionBlur"><img src="images/icon/blur.png" /></div>-->
                            <!--<div class="margin"></div>-->
                            <div class="option choose" data-id="1"><p><img src="images/i1.png" class="img1" /></p></div>
                            <div class="option" data-id="2"><p><img src="images/i2.png" class="img1" /></p></div>
                            <div class="option" data-id="3"><p><img src="images/i3.png" class="img2" /></p></div>
                            <div class="option" data-id="4"><p><img src="images/i4.png" class="img1" /></p></div>
                        </div>
                    </div>
                </div>

                <!-- box -->
                <div class="formula">
                    <div class="formula-left">
                        <img src="images/2.png" style="width:300px;"/>
                    </div>
                    <div class="formula-right">0.05</div>
                </div>


            </div>
        </div>
    </div>
    <div id="threeContainer" class="container">
        <div class="logo zoom">
            <img src="images/icon/logo.png" />
        </div>
        <div class="threeControl">
            <!--<a href="javascript:void(0);" id="grid">
                <img src="images/icon/grid.png" />
            </a>
            <a href="javascript:void(0);" id="axis">
                <img src="images/icon/axis.png" />
            </a>-->
            <a href="javascript:void(0);" id="scale">
                <img src="images/icon/all.png" />
            </a>
        </div>
    </div>




<!--所有js-->
<script src="js/three.min.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/CanvasRenderer.js"></script>
<script src="js/Projector.js"></script>
<script src="js/OrbitControls.js"></script>
<script src="js/Text2D.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/jquery.range2dslider.js"></script>
<script type="text/javascript">
	window.onload=function(){
		var anSET,W=0,H=0;
		var an=()=>{
		    if(W==0||H==0){
		        W = window.innerWidth;
		        H = window.innerHeight;
		        anSET=requestAnimationFrame(an);
		    }else{
		        cancelAnimationFrame(anSET);
						var newScript = document.createElement('script');
						newScript.type = 'text/javascript';
						newScript.src='index.js';
						document.body.appendChild(newScript);
		    }
		};
		an();
	}
</script>
<script src="js/fastclick.js"></script>

<script>
    $('#slider1').range2DSlider({
        template:'horizontal',
        value:[[12,0]],
        width:410,
        showLegend:false,
        round:true,
        axis:[[0,72]],
        printLabel:function(val){
            return parseInt(val[0])*5+"°";
        }
    });

</script>
</body>
</html>