html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font:14px/1.5  "Cambria Math",pingfang, "宋体", "sans-serif";
    word-break: break-all;
    color: #000000;
    overflow: hidden;
    height:100%;
    background-color: #fff;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    border: 0;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #000000;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
span{
    cursor: pointer;
}
/****** 基本样式开始 ******/
body{
    height:100%;
    background: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#app{
    width:100%;
    height:100%;
    background-color:#fff;
    min-width: 580px;
    min-height: 230px;
    overflow: hidden;
}
#app>div{
    position: relative;
    height: 100%;
    float: left;
}
#main_left{
    background-color: #fff;
    width: 100%;
}
#main_left h2{
    padding: 20px;
    position: absolute;
    z-index: 999;
}
#threeContainer{
    height: 100%;
    position: relative;
}
#threeContainer canvas{
    position: absolute;
}
#loading{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    text-align: center;
    height: 20px;
    line-height: 20px;
    width: 100%;
}
#main_right{
    width: 280px;
    background:#f8f8f8;
    box-shadow:0 0 0 0 rgba(0,0,0,0.12);
    position: relative;
    z-index: 999;
    float: right;
}
#main_right #reset{
    position: absolute;
    right: 7%;
    top: 24px;
    cursor: pointer;
}
#main_right #reset img{
    width: 49px;
    height: 41px;
}
#slide{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:240px;
    height: 250px;
    overflow: hidden;
}

.check{
    background:#fff;
    border:0 solid rgba(0,0,0,0.06);
    box-shadow:0 1px 3px 0 rgba(0,0,0,0.08);
    border-radius:6px;
    width:100%;
    height: 45px;
    font-size: 14px;
    line-height: 48px;
    width: 240px;
    text-indent: 1em;
    position: relative;
    margin-bottom: 20px;
}
.check>div{
    cursor: pointer;
}
.check>span{
    width: 40px;
    height: 24px;
    background: #F0F0F0;
    border-radius: 13px;
    position: absolute;
    right: 12px;
    top: 11px;
    cursor: pointer;
    transition: .35s;
}
.check>span>span{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.06);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
    position: absolute;
    top:2px;
    left:2px;
}

#addC{
    width: 84%;
    height: 90px;
    margin: 10px auto;
    margin-top: 45px;
}
#addC>div#tp{
    width: 84%;
    height: 40px;
    margin: auto;
}
#addC>div#tp>div{
    width: 100%;
    text-align: center;
    line-height: 40px;
    height: 12px;
}

/*#addC>div#tp>div{*/
    /*display: none;*/
/*}*/
#addC>div#tp>div>span{
    display: inline-block;
    width: 6px;
    height: 12px;
    border-radius: 50%;
    background: #5CAEFD;
    border-radius: 2px;
    text-align: center;
}
.addB{
    background: #fff;
    border: 0 solid rgba(0,0,0,0.06);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
    border-radius: 6px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 48px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
@media(max-height: 500px){
    div#slide{
        margin-top: 80px;
    }
    /*div.slide{*/
        /*margin-top: 50px;*/
        /*right: 0;*/
        /*transform: scale(0.7);*/
    /*}*/

}
