html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font: 14px/1.5 "Cambria Math",pingfang, "宋体", "sans-serif";
    word-break: break-all;
    color: #3a4751;
    overflow: hidden;
    height:100%;
    background-color: #fff;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    border: 0;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #3a4751;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
span{
    cursor: pointer;
}
/****** 基本样式开始 ******/
body{
    height:100%;
    background: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:100%;
    height:100%;
    background-color:#fff;
}

#app .title{
    width:100%;
    height:20%;
    background: #3a4751;
    position: relative;
}

#app .title h1{
    color:#fff;
    font-size:60px;
    font-weight:700;
    text-align: center;
    height:50%;
    letter-spacing: 10px;
}
#app .title div{
    width: 30%;
    height:50%;
    margin-left: 20px;
}
#app .title div span{
    display: inline-block;
    width: 44%;
    height: 60%;
    border: 4px solid #fff;
    border-radius: 10px;
    color:#fff;
    text-align: center;
    font-size: 36px;
    margin:0 10px;
    margin-top: 10px;
}
#app .title .reset{
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 30px;
    right:80px;
    margin: auto 0;
}
#app .main{
    width: 100%;
    height:80%;
}
#app .main>div{
    float:left;
}
#app .main .main_left{
    width:18%;
    height:100%;
    background: #dcdcdc;
    position: relative;
}
#app .main .main_left .index{
    width: 150px;
    height: 200px;
    font-size: 64px;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
#app .main .main_left .text{
    height: 100%;
    display: none;
}
.text1,.text2,.text3{
    width: 82%;
    margin: auto;
    text-align: left;
    font-size: 33px;
    letter-spacing: 2px;
    padding: 20px 0
}
#app .main .main_left .text .text1{
    height: 42px;
    border-bottom: 4px solid #3a4751;
    font-size: 42px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;

}
#app .main .main_left .text .text3{
    border-top: 4px solid #3a4751;
    display: none;
}
#app .main .main_right{
    width:76%;
    height:88%;
    padding: 3%;
    position: relative;
}
#app .main .main_right div.choose{
    margin:auto;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    display: none;
}
#app .main .main_right div.choose_1{
    width:63%;
}
#app .main .main_right div.choose_2{
    width:50%;
}
#app .main .main_right div.choose span{
    display: inline-block;
    border:2px solid #3a4751;
    border-radius:11px;
    width:137px;
    height:69px;
    font-size: 42px;
    text-align: center;
    line-height: 73px;
    font-weight: 500;
    margin: 0 22px 0;
}
#app .main .main_right .background{
    width: 100%;
    height: 100%;
    background: url('../image/Group.png') no-repeat center;
    background-size: contain;
    background-origin: content-box;
}
#app .main .main_right  div.choose .active{
    background: #f59277;
    border:2px solid #f59277;
    color:#fff;
}